#clientes {
    width: 85%;
    margin: auto;
    margin-top: 10%;
    border: solid white;
}

.clientes {
    margin: auto;
    width: 98%;
    height: 500px;
}

.clientes h1 {
    font-size: 35px;
    margin-left: auto;
    margin-top: 8%;
    padding: 15px;
    background: gray;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
.clientes h2{
    margin-top: 2%;
    padding: 5%;
}



#slider{
    width: 30%;
    margin: auto;
    overflow: hidden;
}
#slider ul{
    padding: 0;
    display: flex;
    width: 400%;

    animation: cambio 5s infinite;
    animation-direction: alternate;
}
#slider li{
    list-style: none;
    width: 100%;
}
#slider img{
    width: 100%;
}

@keyframes cambio{
    0% {margin-left:0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


@media screen and (max-width:950px) {
    #slider{
        width: 50%;
        margin: auto;
        overflow: hidden;
    }
    #slider ul{
        padding: 0;
        display: flex;
        width: 400%;
    
        animation: cambio 5s infinite;
        animation-direction: alternate;
    }
    #slider li{
        list-style: none;
        width: 100%;
    }
    #slider img{
        width: 100%;
    }
    
    @keyframes cambio{
        0% {margin-left:0;}
        20%{margin-left: 0;}
    
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
    
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
    
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
}