#menu-bar {
    display: none;
}

.contenedor {
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(3, 156, 3, 0.603);
    z-index: 100;
}

.contenedor label {
    float: left;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
    color: black;
}

.menuchico {
    position: relative;
    width: 230px;
    height: 360px;
    background: rgba(3, 156, 3, 0.603);
    top: 50px;

    
    transition: all 0.5s;
    transform: translateX(-260px);
}


.menuchico ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.menuchico li{
    list-style: none;
    padding: 25px;
    margin: 0;
    text-align: center;
}
.menuchico a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.menuchico a:hover {
    color: rgb(6, 245, 6);
}



#menu-bar:checked~.menuchico {
    transform: translate(0);
}