#quienes{
    width: 85%;
    margin: auto;
    border: solid white;
    margin-bottom: 10%;
    
}
.presentacion{
    margin:auto;
    width: 98%;
    height: 600px;
}

.presentacion h1{
    font-size: 35px;
    margin-left: auto;
    margin-top: 8%;
    margin-bottom: 70px;
    padding: 15px;
    background: gray;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
.presentacion p{
    font-size: 18px;
    margin-bottom: 60px;
}
.presentacion img{
    width: 520px;
    height: 300px;
    float:left;
    border: 1px solid grey;
    margin-right: 10px;
}