#RRHH {
    width: 85%;
    margin: auto;
    margin-top: 10%;
    border: solid white;
}

.RRHH {
    margin: auto;
    width: 98%;
    height: 600px;
}

.RRHH h1 {
    font-size: 35px;
    margin-left: auto;
    margin-top: 8%;
    padding: 15px;
    background: gray;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
.RRHH h2{
    margin-top: 2%;
    padding: 5%;
}

.RRHH p{
    font-size: 18px;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
}
.RRHH img{
    width: 50%;
    height: 50%;
    border: 1px solid grey;
    margin: 5%;
}

@media screen and (max-width:671px) {
    .RRHH img{
        width: 80%;
        height: 40%;
        border: 1px solid grey;
        margin: 5%;
    }
}