#servicios{
    width: 85%;
    margin: auto;
    border: solid white;
}
.servicios{
    margin:auto;
    width: 98%;
    height: 600px;
  
}
.servicios h1{
    font-size: 35px;
    margin-left: auto;
    margin-top: 8%;
    padding: 15px;
    background: gray;
    color: white;
    font-family: 'Exo 2', sans-serif;
}
.servicios ul{
    margin: auto;
    width: 95%;
    display: flex;
    padding: 10%;
}
.servicios li{
    flex: auto;
    width: 35%;
    list-style: none;
    padding: 2%;
    margin:auto;
    background: steelblue;

}
.servicios ul li p{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;

}
.servicios img{
   width: 100%;
   height: 80%;
}


@media screen and (max-width:570px) {
    .servicios ul li p{
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
    
    }
    .servicios img{
       width: 110%;
       height: 90%;
    }

  }